{% extends 'base.html.twig' %}

{% block title %}Eleves index{% endblock %}

{% block body %}
    <h1>Eleves index</h1>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input id="rechercher" type="text" class="form-control" placeholder="Ex.: Nom / Prénom / Classe">
    </div>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Date naissance</th>
                <th>Statut</th>
                <th>Lv2</th>
                <th>Remarque</th>
                <th>Amenagement pedagogique</th>
                <th>Etablissement origine</th>
                <th>Classe</th>
                <th>Enseignement Comp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for elefe in eleves %}
            <tr>
                {# <td>{{ elefe.id }}</td> #}
                <td>{{ elefe.nom }}</td>
                <td>{{ elefe.prenom }}</td>
                <td>{{ elefe.sexe }}</td>
                <td>{{ elefe.dateNaissance ? elefe.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ elefe.statut }}</td>
                <td>{{ elefe.lv2 }}</td>
                <td>{{ elefe.remarque }}</td>
                <td>{{ elefe.amenagementPedagogique }}</td>
                <td>{{ elefe.etablissementOrigine.NomEtablissementOrigine }}</td>
                <td>{{ elefe.classe.NomClasse }}</td>
                <td>{{ elefe.enseignementComp.NomEnseignementComp }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{{ path('eleves_show', {'id': elefe.id}) }}"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-warning" href="{{ path('eleves_edit', {'id': elefe.id}) }}"><i class="fas fa-pen"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('eleves_new') }}"><i class="fas fa-user-plus"></i> Ajouter</a>
    <script>
    $(document).ready(function(){
        $("#rechercher").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("table tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    </script>
{% endblock %}
