{% extends 'base.html.twig' %}

{% block title %}Eleves index{% endblock %}

{% block body %}
    <h1>Eleves index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Date_naissance</th>
                <th>Statut</th>
                <th>Lv2</th>
                <th>Remarque</th>
                <th>Amenagement_pedagogique</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for elefe in eleves %}
            <tr>
                <td>{{ elefe.id }}</td>
                <td>{{ elefe.nom }}</td>
                <td>{{ elefe.prenom }}</td>
                <td>{{ elefe.sexe }}</td>
                <td>{{ elefe.dateNaissance ? elefe.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ elefe.statut }}</td>
                <td>{{ elefe.lv2 }}</td>
                <td>{{ elefe.remarque }}</td>
                <td>{{ elefe.amenagementPedagogique }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('eleves_show', {'id': elefe.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('eleves_edit', {'id': elefe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('eleves_new') }}">Create new</a>
{% endblock %}
