{% extends 'base.html.twig' %}

{% block title %}Détail{% endblock %}

{% block body %}
    <h1>Détail : {{ elefe.nom }} {{ elefe.prenom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ elefe.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ elefe.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ elefe.sexe }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ elefe.dateNaissance ? elefe.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ elefe.statut }}</td>
            </tr>
            <tr>
                <th>Lv2</th>
                <td>{{ elefe.lv2 }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ elefe.remarque }}</td>
            </tr>
            <tr>
                <th>Aménagement Pédagogique</th>
                <td>{{ elefe.amenagementPedagogique }}</td>
            </tr>
            <tr>
                <th>Établissement d'origine</th>
                <td>{{ elefe.etablissementOrigine.NomEtablissementOrigine }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ elefe.classe.NomClasse }}</td>
            </tr>
            <tr>
                <th>Enseignement Comp</th>
                <td>{{ elefe.enseignementComp.NomEnseignementComp }}</td>
            </tr>

        </tbody>
    </table>
    
    <a class="btn btn-primary" href="{{ path('eleves_index') }}">Retour à la liste</a>

    <a class="btn btn-primary" href="{{ path('eleves_edit', {'id': elefe.id}) }}">Modifier</a>

    {{ include('eleves/_delete_form.html.twig') }}
{% endblock %}
