{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}
    <h1>Détails : {{ user.username }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Utilisateur</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('user_index') }}"><i class="fas fa-undo"></i> Retour à la liste</a>

    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pen"></i> Modifier</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
